# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Data folders (audio, transcripts, outputs)
data/
hypothesis/
clean_audio/
raw_audio/

# Audio files
*.wav
*.mp3

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
